:root {
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --gray: #6b7280;
    --light: #eee;
    --blue: #132553;
    --light-pink: #cea4cc;
    --pink: #ff9df4;
    --red: #aa1e3a;
}

body {
    background-color: var(--blue);
}

.content-box {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: fit-content;
    margin: auto;
    border: 1px solid var(--pink);
    border-radius: 1rem;
}

p {
    text-align: center;
}

.indicator {
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    color: var(--light);
}

#form {
    font-size: 1.2rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    height: fit-content;
    width: 18rem;
    border: 1px solid var(--pink);
    border-radius: 1rem;
    padding: 1rem;
}

#form .time-div {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: var(--blue);
}

#form .time-div label,
#form .time-div div {
    margin: 0.25rem 0.25rem;
    color: var(--light);
}

#form .time-div label {
    width: fit-content;
    font-size: 1rem;
    margin-left: 1rem;
}

#form .time-div div {
    display: flex;
    flex-direction: row;
}

#form .time-div input {
    width: 50%;
    height: auto;
    background-color: var(--blue);
    color: var(--light);
    border: 1px solid var(--pink);
    border-radius: 0.5rem;
    margin-left: 2rem;
    text-align: center;
    font-size: 0.7rem;
    outline: none;
}

#form .time-div .in-time {
    margin-top: 1rem;
}

.time-div div .clock-button {
    background-color: var(--blue);
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    background-image: url("../assets/transparent\ clock\ icon.png");
    background-size: auto 100%;
    outline: none;
    border: none;
}

#form .calc-button {
    background-color: var(--blue);
    color: var(--gray);
    width: 30px;
    height: 80px;
    margin: auto 1rem auto 0;
    border-radius: 1rem;
    border: 1px solid var(--pink);
    outline: none;
    transition: 0.2s;
}

#form .calc-button:active {
    background-color: var(--pink);
    color: var(--light);
}

.note p {
    font-size: 1.125rem;
    color: var(--light);
}

.note input {
    display: block;
    background-color: var(--light-pink);
    color: var(--darkest);
    width: 18rem;
    height: 2rem;
    margin: auto;
    text-align: center;
    font-size: 1rem;
    border-radius: 1rem;
    outline: none;
    border: none;
}

.note:last-child {
    margin-bottom: 3rem;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}
